.App {
  background-color: white;
}

.table-wrapper {
  height: 300px; /* set the height as needed */
  overflow: auto;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.custom-button {
  background-color: #4477be;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  margin-left: 2px;
  border-radius: 8px;
}
